@font-face {
  font-family: 'Exo2.0-Thin';
  src: url("../fonts/Exo2.0-Thin.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

.feed__main, .feed_selected.feed .feed__main, .feed_disabled .feed__main_disabled {
  position: relative;
  background-image: url("../img/cat.jpg");
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  border: 3px;
  border-radius: 0 0 10px 10px;
  width: 315px;
  height: 430px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  cursor: pointer; }

.feed__article, .feed_selected.feed .feed__article, .feed_disabled .feed__article, .feed_disabled.feed:hover .feed__article {
  position: relative;
  z-index: 2;
  margin-left: auto;
  width: 275px;
  height: 43px;
  background-color: #f2f2f2;
  border: 3px;
  border-radius: 0 10px 0 0;
  cursor: pointer; }

.feed__angle, .feed_selected.feed .feed__angle, .feed_disabled .feed__angle, .feed_disabled.feed:hover .feed__angle {
  width: 63px;
  height: 63px;
  background-color: #f2f2f2;
  transform: rotate(43deg);
  position: absolute;
  z-index: 0;
  left: 12px;
  top: 14px;
  cursor: pointer; }

.feed__weight, .feed_selected.feed .feed__weight, .feed_disabled .feed__weight_disabled {
  margin-top: auto;
  margin-left: auto;
  margin-right: 13px;
  margin-bottom: 13px;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  line-height: 0.9; }

.feed__comment, .feed__comment_selected, .feed__comment_disabled {
  margin-top: 12px;
  margin-bottom: 10%;
  cursor: pointer;
  text-align: center;
  font-size: 13px; }

.background {
  margin: 0;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.header {
  font-family: 'Exo2.0-Thin', Arial, sans-serif;
  color: #fff;
  text-align: center;
  font-weight: 200;
  margin: 40px 0 25px 0; }

.main {
  font-family: 'Trebuchet MS', Arial, sans-serif;
  margin: 0 auto;
  width: 1120px;
  display: flex;
  justify-content: space-between; }

.feed {
  position: relative; }
  .feed__angle {
    border-left: 3px solid #1698d9; }
  .feed__article {
    border: solid #1698d9;
    border-bottom: 0;
    border-left: 0; }
  .feed__main {
    border: solid #1698d9;
    border-top: none; }
  .feed__weight {
    background-color: #1698d9; }
  .feed:hover .feed__angle, .feed:hover .feed__article, .feed:hover .feed__main {
    border-color: #2ea8e6; }
  .feed:hover .feed__weight {
    background-color: #2ea8e6; }
  .feed__comment_selected, .feed__comment_disabled {
    display: none; }

.feed_selected.feed .feed__main {
  border: solid #d91667;
  border-top: none; }

.feed_selected.feed .feed__angle {
  border-left: 3px solid #d91667; }

.feed_selected.feed .feed__article {
  border: solid #d91667;
  border-bottom: 0;
  border-left: 0; }

.feed_selected.feed .feed__weight {
  background-color: #d91667; }

.feed_selected.feed .feed__comment_default, .feed_selected.feed .feed__comment_buy, .feed_selected.feed .feed__comment_disabled {
  display: none; }

.feed_selected.feed .feed__comment_selected {
  display: block; }

.feed_selected.feed:hover .feed__main {
  border-color: #e62e7a; }

.feed_selected.feed:hover .feed__weight {
  background-color: #e62e7a; }

.feed_selected.feed:hover .feed__angle {
  border-left: 3px solid #e62e7a; }

.feed_selected.feed:hover .feed__article {
  border: solid #e62e7a;
  border-bottom: 0;
  border-left: 0; }

.feed_selected.feed:hover .feed__about {
  display: none; }
  .feed_selected.feed:hover .feed__about_question {
    display: block; }

.feed_disabled .feed__main_disabled {
  border: solid #b3b3b3;
  border-top: none; }

.feed_disabled .feed__angle {
  border-left: 3px solid #b3b3b3; }

.feed_disabled .feed__article {
  border: solid #b3b3b3;
  border-bottom: 0;
  border-left: 0; }

.feed_disabled .feed__weight_disabled {
  background-color: #b3b3b3; }

.feed_disabled .feed__comment_default, .feed_disabled .feed__comment_buy, .feed_disabled .feed__comment_selected {
  display: none; }

.feed_disabled .feed__comment_disabled {
  display: block; }

.feed_disabled.feed:hover .feed__angle {
  border-left: 3px solid #b3b3b3; }

.feed_disabled.feed:hover .feed__article {
  border: solid #b3b3b3;
  border-bottom: 0;
  border-left: 0; }

.feed__description {
  padding-left: 46px; }

.feed__about {
  font-weight: normal;
  font-size: 16px;
  margin-top: 17px;
  margin-bottom: 5px;
  padding-left: 8px; }
  .feed__about_question {
    color: #e62e7a;
    display: none; }

.feed__name {
  font-size: 48px;
  font-weight: bold;
  margin: 0; }

.feed__taste {
  font-size: 24px;
  font-weight: bold; }

.feed__content {
  margin-top: 12px; }

.feed__quantity, .feed__bonus, .feed__happy {
  font-size: 14px;
  display: block; }

.weight__quantity {
  font-size: 42px; }

.weight__unit {
  font-size: 21px; }

.feed__comment_default {
  color: #fff; }

.feed__comment_buy {
  color: #1698d9;
  text-decoration: none;
  border-bottom: 2px dashed #1698d9; }

.feed__comment_selected {
  color: #fff; }

.feed__comment_disabled {
  color: #ffff66; }

.disabled-element {
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  z-index: 1; }

@media (min-width: 320px) and (max-width: 659px) {
  .main {
    flex-direction: column;
    width: 100%;
    align-items: center; }
  .feed__comment {
    margin-bottom: 10%; } }

@media (min-width: 660px) and (max-width: 1119px) {
  .main {
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around; }
  .feed {
    margin: 0 1%; }
  .feed__comment {
    margin-bottom: 10%; } }
