@font-face {
    font-family: 'Exo2.0-Thin';
    src: url("../fonts/Exo2.0-Thin.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

$default-color: #1698d9;
$default-color-hover: #2ea8e6;
$selected-color: #d91667;
$selected-color-hover: #e62e7a;
$disabled-color: #b3b3b3;
$layer-color: #f2f2f2;

%feed-constant-properties {
    position: relative;
    background-image: url('../img/cat.jpg');
    background-color: $layer-color;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    border: 3px;
    border-radius: 0 0 10px 10px;
    width: 315px;
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    cursor: pointer;
}

%feed-article-constant-properties {
    position: relative;
    z-index: 2;
    margin-left: auto;
    width: 275px;
    height: 43px;
    background-color: $layer-color;
    border: 3px;
    border-radius: 0 10px 0 0;
    cursor: pointer;
}

%feed-angle-constant-properties {
    width: 63px;
    height: 63px;
    background-color: $layer-color;
    transform: rotate(43deg);
    position: absolute;
    z-index: 0;
    left: 12px;
    top: 14px;
    cursor: pointer;
}

%feed-weight-constant-properties {
    margin-top: auto;
    margin-left: auto;
    margin-right: 13px;
    margin-bottom: 13px;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    line-height: 0.9;
}

%feed-comment-constant-properties {
    margin-top: 12px;
    margin-bottom: 10%;
    cursor: pointer;
    text-align: center;
    font-size: 13px;
}

.background {
    margin: 0;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.header {
    font-family: 'Exo2.0-Thin', Arial, sans-serif;
    color: #fff;
    text-align: center;
    font-weight: 200;
    margin: 40px 0 25px 0;
}

.main {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    margin: 0 auto;
    width: 1120px;
    display: flex;
    justify-content: space-between;
}
// section feed default
.feed {
    position: relative;

    &__angle {
        @extend %feed-angle-constant-properties;
        border-left: 3px solid $default-color;
    }

    &__article {
        @extend %feed-article-constant-properties;
        border: solid $default-color;
        border-bottom: 0;
        border-left: 0;
    }

    &__main {
        border: solid $default-color;
        border-top: none;
        @extend %feed-constant-properties;
    }

    &__weight {
        @extend %feed-weight-constant-properties;
        background-color: $default-color;
    }

    &:hover {
        .feed {
            &__angle, &__article, &__main {
                border-color: $default-color-hover;
            }
        }
        .feed__weight {
            background-color: $default-color-hover;
        }
    }

    &__comment {
        &_selected, &_disabled {
            display: none;
        }
    }
}

// section feed selected
.feed_selected.feed {

    .feed__main {
        border: solid $selected-color;
        border-top: none;
        @extend %feed-constant-properties;
    }
    .feed__angle {
        @extend %feed-angle-constant-properties;
        border-left: 3px solid $selected-color;
    }

    .feed__article {
        @extend %feed-article-constant-properties;
        border: solid $selected-color;
        border-bottom: 0;
        border-left: 0;
    }

    .feed__weight {
        @extend %feed-weight-constant-properties;
        background-color: $selected-color;
    }

    .feed__comment {
        &_default, &_buy, &_disabled {
            display: none;
        }
        &_selected {
            display: block;
        }
    }

    &:hover {
        .feed__main {
            border-color: $selected-color-hover;
        }
        .feed__weight {
            background-color: $selected-color-hover;
        }
        .feed__angle {
            border-left: 3px solid $selected-color-hover;
        }
        .feed__article {
            border: solid $selected-color-hover;
            border-bottom: 0;
            border-left: 0;
        }
        .feed__about {
            display: none;
    
            &_question {
                display: block;
            }
        }
    }
}

// section feed disabled
.feed_disabled .feed {

    &__main_disabled {
        border: solid $disabled-color;
        border-top: none;
        @extend %feed-constant-properties;
    }

    &__angle {
        @extend %feed-angle-constant-properties;
        border-left: 3px solid $disabled-color;
    }

    &__article {
        @extend %feed-article-constant-properties;
        border: solid $disabled-color;
        border-bottom: 0;
        border-left: 0;
    }
    
    &__weight_disabled {
        @extend %feed-weight-constant-properties;
        background-color: $disabled-color;
    }

    &__comment {
        &_default, &_buy, &_selected {
            display: none;
        }
        &_disabled {
            display: block;
        }
    }
}

.feed_disabled.feed {
    &:hover {
        .feed__angle {
            @extend %feed-angle-constant-properties;
            border-left: 3px solid $disabled-color;
        }

        .feed__article {
            @extend %feed-article-constant-properties;
            border: solid $disabled-color;
            border-bottom: 0;
            border-left: 0;
        }
    }
}

// section feed description constant
.feed {
    &__description {
        padding-left: 46px;
    }

    &__about {
        font-weight: normal;
        font-size: 16px;
        margin-top: 17px;
        margin-bottom: 5px;
        padding-left: 8px;

        &_question {
            color: $selected-color-hover;
            display: none;
        }
    }

    &__name {
        font-size: 48px;
        font-weight: bold;
        margin: 0;
    }

    &__taste {
        font-size: 24px;
        font-weight: bold;
    }

    &__content {
        margin-top: 12px;
    }

    &__quantity, &__bonus, &__happy {
        font-size: 14px;
        display: block;
    }
}
.weight {
    &__quantity {
        font-size: 42px;
    }
    &__unit {
        font-size: 21px;
    }
}
// feed comment default
.feed__comment {
    @extend %feed-comment-constant-properties;

    &_default {
        color: #fff;
    }
    &_buy {
        color: $default-color;
        text-decoration: none;
        border-bottom: 2px dashed $default-color;
    }
}
//feed comment selected
.feed__comment_selected {
    @extend %feed-comment-constant-properties;
    color: #fff;
}
//feed comment disabled
.feed__comment_disabled {
    @extend %feed-comment-constant-properties;
    color: #ffff66;
}

.disabled-element {
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    z-index: 1;
}

@media (min-width: 320px) and (max-width: 659px) {

    .main {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .feed__comment {
        margin-bottom: 10%;
    }

}

@media (min-width: 660px) and (max-width: 1119px) {

    .main {
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
    }

    .feed {
        margin: 0 1%;
    }

    .feed__comment {
        margin-bottom: 10%;
    }
}